<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- Kiosk Permissions -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />

    <!-- <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" tools:ignore="ProtectedPermissions" /> -->
    <!-- <uses-permission android:name="android.permission.MANAGE_DEVICE_ADMINS" tools:ignore="ProtectedPermissions" /> -->
    <!-- <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" /> -->
    <!-- <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions" /> -->
    <!-- <uses-permission android:name="android.permission.REBOOT" tools:ignore="ProtectedPermissions" /> -->
    <!-- <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN" tools:ignore="ProtectedPermissions" /> -->
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_CAMERA" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_FACTORY_RESET" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="upi" />
        </intent>

        <intent>
            <action android:name="org.chromium.intent.action.PAY" />
        </intent>

        <intent>
            <action android:name="org.chromium.intent.action.IS_READY_TO_PAY" />
        </intent>

        <intent>
            <action android:name="org.chromium.intent.action.UPDATE_PAYMENT_DETAILS" />
        </intent>

        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.phonepe.app" />
        <package android:name="net.one97.paytm" />
        <package android:name="in.org.npci.upiapp" />
        <package android:name="com.mobikwik_new" />
        <package android:name="com.freecharge.mobile" />
        <package android:name="com.icici.pockets" />
        <package android:name="com.axis.axispay" />
        <package android:name="com.hdfcbank.payzapp" />
        <package android:name="sbi.mobile.apps.in" />
        <package android:name="in.amazon.mShop.android.shopping" />
    </queries>

    <application
        android:name=".utils.ApplicationClass"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/newapplogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/newapplogo"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.TheEmiClub"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">

        <activity
            android:name=".kioskmode.PermissionSetupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.activity.retailer.CustomerAppInstall"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.activity.customer.PGWebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.activity.retailer.AppScanInstallPage"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.view.activity.customer.CustomerEMIStatusReport"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.activity.retailer.reports.Ledgerreport"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.activity.retailer.RetailerEMandateVerifyPage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.activity.retailer.reports.AllTransactionHistory"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.activity.retailer.reports.PayoutReport"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.activity.retailer.reports.SettlementLoanReport"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.retailer.MapActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.retailer.reports.DuesEMIPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.retailer.reports.ReportSelectionPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.retailer.reports.LowCibilScoreCustomerReports"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.retailer.CibilReportsDetailsPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.retailer.CivilReportForm"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.retailer.BankDetailsPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.retailer.WalletAccountDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.retailer.RetailerProfilePage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.customer.CustomerReportsPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.retailer.reports.RetailerCustomerReportsPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.retailer.AadharCardWebViewDIGILockerPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.customer.MakePaymentPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.customer.EmiLoanDetailPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.customer.CustomerEMIPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.ChooseYourRolePage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.retailer.CongratulationPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.retailer.AadharCardReferenceWebViewDIGILockerPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.retailer.QRCodePage"
            android:exported="false"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>

        <activity
            android:name=".provisioning.ProvisioningModeActivity"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.GET_PROVISIONING_MODE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".provisioning.AdminPolicyComplianceActivity"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.ADMIN_POLICY_COMPLIANCE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.view.activity.retailer.IMEIDetailsPage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.activity.retailer.PaymentInformation"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.activity.retailer.NewCustomerRegistrationPage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.activity.retailer.PanCardVerificationPage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.activity.retailer.AadharCardVerificationPage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.activity.retailer.IDVerificationPage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.view.activity.retailer.ForgetPasswordPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.retailer.EMICalculationDetailsPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.retailer.EMICalculationPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.view.activity.retailer.MobileSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.TheEmiClub" />
        <activity
            android:name=".ui.slideshow.activity.DashBoard"
            android:exported="false"
            android:label="@string/title_activity_dash_board"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.slideshow.activity.LoginPage"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.view.activity.retailer.SignupPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.slideshow.activity.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".kioskmode.KioskDeviceAdminReceiver"
            android:description="@string/app_name"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
                <action android:name="android.app.action.PROFILE_PROVISIONING_COMPLETE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.app.action.PROFILE_OWNER_CHANGED" />
                <action android:name="android.app.action.DEVICE_OWNER_CHANGED" />
                <action android:name="android.app.action.DISALLOW_FACTORY_RESET" />
            </intent-filter>
        </receiver> <!-- Start kiosk automatically on boot -->
        <activity
            android:name=".kioskmode.KioskActivity"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="">

            <!-- Make it the default launcher (Recommended for kiosks) -->
            <intent-filter>
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".kioskmode.MyAccessibilityService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_config" />
        </service>

        <service
            android:name=".notification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".kioskmode.KioskPolicyService"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <receiver
            android:name=".phonestatereceiver.SimStateReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SIM_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAeWqwtaPeBBAx99493pPOCwI1ryvGriuc" />

        <activity
            android:name=".ui.view.activity.retailer.reports.CustomerListForCreatingShortCutLoanProcessPage"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

    </application>


</manifest>